.container {
  background: var(--color-trial-background);
  color: var(--color-light);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.title {
  display: none;
}

.buttonContainer {
  flex-shrink: 6;
}

.button {
  border: 0;
  border-radius: var(--border-radius);
  background: var(--color-yellow);
  color: var(--color-light);
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  text-decoration: none;
  padding: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 1rem;
    align-items: center;
  }

  .title {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  .button {
    white-space: nowrap;
  }

  .buttonContainer {
    flex-shrink: unset;
  }

  .button {
    padding: 1rem;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
}
