:root {
  --color-rose: #f68bc9;
  --color-orange: #f77026;
  --color-blue: #35aff7;
  --color-yellow: #ffbe00;
  --color-green: #00504b;
  --color-darkBlue: #00033a;
  --color-purple: #b1b2f5;
  --color-light: #fff;
  --color-dark-light: #515154;
  --color-played-note: #959596;
  --color-app-background: #fff7ed;
  --color-component-background: #fff;
  --color-trial-background: #242427;
  --shadow-bottom: 0px 5px 5px 0px rgba(36, 36, 39, 0.2);
  --zIndex-navbar: 10;
  --zIndex-page: 0;
  --border-radius: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background: var(--color-app-background);
}
