/*TODO: plan a fallback, doesn't work in FF yet: https://caniuse.com/?search=webkit-box*/
.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: unset;
}

.seeMore {
  border: 0;
  background: var(--color-dark-light);
  color: var(--color-light);
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.5rem;
  cursor: pointer;
  margin-top: 1rem;
  font-weight: normal;
}

.hasEllipsis {
  -webkit-line-clamp: 2;
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  /*TODO: plan a fallback, doesn't work in FF yet: https://caniuse.com/?search=webkit-box*/
  .hasEllipsis {
    -webkit-line-clamp: 3;
  }
}
