.container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.section {
  --margins-not-fixed-component: 1rem 1rem 0 1rem;
  padding: 1rem;
  margin: var(--margins-not-fixed-component);
  border-radius: var(--border-radius);
}

.trial {
  margin: 0;
  box-shadow: var(--shadow-bottom);
  border-radius: 0;
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .trial {
    margin: var(--margins-not-fixed-component);
    box-shadow: none;
    border-radius: var(--border-radius);
  }
  .section:last-child {
    margin-bottom: 0;
  }

  .container {
    display: grid;
    grid-template-columns: auto 35%;
    grid-template-areas:
      'player info'
      'player versions'
      'player similar'
      'player similar';
  }

  .player {
    grid-area: player;
    margin: 1rem 0 1rem 1rem;
  }
}
