.container {
    display: flex;
    flex-direction: column-reverse;
    flex-basis: 100%;
}

.section {
    --margins-not-fixed-component: 1rem 1rem 0 1rem;
    padding: 1rem;
    margin: var(--margins-not-fixed-component);
    border-radius: var(--border-radius);
}

.trial {
    margin: 0;
    box-shadow: var(--shadow-bottom);
    border-radius: 0;
}
.aside {
    margin-bottom: 1rem;
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .trial {
        margin: var(--margins-not-fixed-component);
        box-shadow: none;
        border-radius: var(--border-radius);
    }
    .section:last-child {
        margin-bottom: 0;
    }

    .container {
        flex-direction: row-reverse;
        justify-content: center;
        width: 100%;
    }

    .aside {
        width: 35%;
    }
    .player {
        flex: 1 0 auto;
        height: fit-content;
    }

}
